.wrapper {
    min-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    line-height: 1;
    // color: $textcolor;
    font-weight: 400;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.button {
    cursor: pointer;
    padding: 15px 77px;
    border-radius: 10px;
    color: white;
    width: fit-content;
    
    &-primary{
        background-color: $primary-color;
        font-weight: bold;
    }
    &-shadow {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}
.text {
    &-bold {
        color: #0B132A;
        font-weight: bold;
    }
    &-desc {
        font-size: 16px;
        color: #4F5665;
        line-height: 30px;
    }
    &-title {
        font-size: 35px;
        font-weight: bold;
        line-height: 50px;
        color: #0B132A;
    }
    &-desc {
        max-width: 555px;
        display: inline-block;
    }
}