.subscribe{
    &-container {
        padding: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;
        background-color: #FFFFFF;
        transform: translateY(50%);
    }
    &-button {
        box-shadow: rgba(225, 45, 13, 0.2) 0px 8px 24px;
    }
}